@model IEnumerable<ManagerCovid19.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.MemberRegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.City)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberRegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberRegistrationNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberRegistrationNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberRegistrationNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if ((ViewBag.Page ?? 1) > 1)
{<a href="?page=@(ViewBag.Page - 1)" class="btn btn-primary">Prev</a>}
<a href="?page=@((ViewBag.Page??1)+1)" class="btn btn-primary">Next</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Import">Importar de um arquivo</a>