@model ManagerCovid19.Models.HealthRegistration

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HealthRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowRUFeeling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowRUFeeling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaltaDeAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaltaDeAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cansaco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cansaco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Febre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Febre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calafrios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calafrios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tosse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tosse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorDeGarganta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorDeGarganta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorDeCabeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorDeCabeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorNoPeito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorNoPeito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerdaDeOlfato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerdaDeOlfato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerdaPaladar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerdaPaladar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diarreia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diarreia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coriza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coriza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Espirros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Espirros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberRegistrationNumber)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HealthRegistrationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
