@model IEnumerable<ManagerCovid19.Models.HealthRegistration>

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    const registrations = [
        @foreach (var item in Model)
        {
            @Html.Raw(Json.Serialize(item)+",\n");
        }
    ];
    const mark = (date) => {
        for (let i = 0; i < registrations.length; i++)
            if (date.getFullYear() == (new Date(registrations[i].RegisterDateTime)).getFullYear()
                && date.getMonth() == (new Date(registrations[i].RegisterDateTime)).getMonth()
                && date.getDate() == (new Date(registrations[i].RegisterDateTime)).getDate())
                return true;
        return false;
    };
</script>

<partial name="../Shared/Calendar.cshtml" />

<table id="registerList" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowRUFeeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaltaDeAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cansaco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Febre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calafrios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tosse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorDeGarganta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorDeCabeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorNoPeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerdaDeOlfato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerdaPaladar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diarreia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coriza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espirros)
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    const renderTable = () => {
        const table = $('#registerList tbody');
        table.empty();
        for (let i = 0; i < registrations.length; i++) {
            var d = new Date(registrations[i].registerDateTime);
            if (selectedDate)
                if (d.getDate() == selectedDate.getDate()
                    && d.getMonth() == selectedDate.getMonth()
                    && d.getFullYear() == selectedDate.getFullYear())
                {
                    var row = $('<tr>');
                    console.log(row);
                    row.append($('<td>').html(d.toLocaleString()));
                    row.append($('<td>').html(registrations[i].howRUFeeling? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].faltaDeAr ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].cansaco ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].febre ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].calafrios ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].tosse ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].dorDeGarganta ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].dorDeCabeca ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].dorNoPeito ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].perdaDeOlfato ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].perdaPaladar ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].diarreia ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].coriza ? 'Sim' : 'Não'));
                    row.append($('<td>').html(registrations[i].espirros ? 'Sim' : 'Não'));
                    table.append(row);
                }
        }
    }

    $('.days').click('div', element => {
        renderTable();
    });
</script>