@model IEnumerable<ManagerCovid19.Models.HealthRegistration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowRUFeeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaltaDeAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cansaco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Febre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calafrios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tosse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorDeGarganta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorDeCabeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorNoPeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerdaDeOlfato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerdaPaladar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diarreia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coriza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espirros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowRUFeeling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaltaDeAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cansaco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Febre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calafrios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tosse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DorDeGarganta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DorDeCabeca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DorNoPeito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerdaDeOlfato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerdaPaladar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diarreia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coriza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Espirros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberRegistrationNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HealthRegistrationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HealthRegistrationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HealthRegistrationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
