@model IEnumerable<ManagerCovid19.Models.HealthRegistration>

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<partial name="../Shared/Calendar.cshtml" />

<table id="registerList" class="table" style="margin-top: 100px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowRUFeeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaltaDeAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cansaco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Febre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calafrios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tosse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorDeGarganta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorDeCabeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorNoPeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerdaDeOlfato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerdaPaladar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diarreia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coriza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espirros)
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    calendar.loadData = function (month) {
        var result = $.ajax({
            async: false,
            type: 'GET',
            url: location.origin + '/Health/GetRegisters?month='+(month+1)
        }).responseJSON;
        this.data = result;
        return result;
    }

    calendar.mark = function (date) {
        var result = false;
        this.data.forEach((element) => {
            result ||= (date.getFullYear() == new Date(element.registerDateTime).getFullYear()
                && date.getMonth() == new Date(element.registerDateTime).getMonth()
                && date.getDate() == new Date(element.registerDateTime).getDate())
        });
        return result;
    }

    const renderTable = () => {
        const table = $('#registerList tbody');
        table.empty();

        calendar.data.forEach((element) => {
            var d = new Date(element.registerDateTime);
            if (calendar.selectedDate)
                if (d.getDate() == calendar.selectedDate.getDate()
                    && d.getMonth() == calendar.selectedDate.getMonth()
                    && d.getFullYear() == calendar.selectedDate.getFullYear())
                {
                    var row = $('<tr>');
                    console.log(row);
                    row.append($('<td>').html(`${d.getDate()}/${d.getMonth()}/${d.getFullYear()}`));
                    row.append($('<td>').html(element.howRUFeeling ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.faltaDeAr ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.cansaco ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.febre ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.calafrios ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.tosse ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.dorDeGarganta ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.dorDeCabeca ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.dorNoPeito ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.perdaDeOlfato ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.perdaPaladar ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.diarreia ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.coriza ? 'Sim' : 'Não'));
                    row.append($('<td>').html(element.espirros ? 'Sim' : 'Não'));
                    table.append(row);
                }
        });
    }

    $('.days').click('div', element => {
        renderTable();
    });

</script>