@model ManagerCovid19.Models.Member

@{
    ViewData["Title"] = "Overview";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>


<script>

</script>

<div id="overview">
    <h1>Overview</h1>

    <div class="container">
        Visão geral de
        <input type="date" name="from" /> até
        <input type="date" name="to" />
        Mínimo de registros semanais
        <input type="number" name="minimum" value="5" />
        <button id="refresh">Refresh</button>
        <div id="loader" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <div id="charts"></div>

        <div id="lastDays"></div>

        <div id="memberList">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.MemberRegistrationNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Sector)</th>
                        <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
                        <th>@Html.DisplayNameFor(model => model.City)</th>
                        <th>@Html.DisplayNameFor(model => model.State)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="members">
                </tbody>
            </table>
        </div>
    </div>
</div>

<button class="btn btn-secondary" id="printPDF">Print</button>

<script>

    $('document').ready(() => {
        var from = new Date();
        from.setMonth(from.getMonth() - 1);
        var to = new Date();
        console.log(`FROM: ${from}; TO: ${to};`);
        $('input[name=from]')[0].value = `${from.getFullYear()}-${("0" + (from.getMonth() + 1)).slice(-2)}-${("0" + from.getDate()).slice(-2)}`;
        $('input[name=to]')[0].value = `${to.getFullYear()}-${("0" + (to.getMonth() + 1)).slice(-2)}-${("0" + to.getDate()).slice(-2)}`;
    });

    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawChart);

    async function drawChart() {
        $('#charts').empty();
        $('#lastDays').empty();
        $('#members').empty();

        $('#loader').show();
        await $.post(location.origin + '/Health/Filter', { 'fromDate': $('input[name=from]')[0].value || new Date(new Date().setDate(1)).toLocaleDateString(), 'toDate': $('input[name=to]')[0].value || new Date().toLocaleDateString(), 'minimum': $('input[name=minimum]').val() }, (dataRaw) => {
            console.log(dataRaw);

            dataRaw.charts.forEach((element) => {
                var chartDiv = $('<div>');
                chartDiv.appendTo('#charts');

                var data = new google.visualization.DataTable();
                element.columns.forEach((col, i) => {
                    data.addColumn(col.type, col.name);
                    if (col.type == 'date')
                        element.data.forEach((row) => { row[i] = new Date(row[i]) });
                });

                data.addRows(element.data);

                var chart = new google.visualization.ColumnChart(chartDiv[0]);
                chart.draw(data, element.options);
            });

            $('<span>')
                .append($('<p>')
                    .addClass('font-weight-bold')
                    .text('Registros "Não estou me sentindo bem" nos últimos 5 dias: ')
                ).append(dataRaw.lastDays[0] == undefined ? 0 : dataRaw.lastDays[0].count).appendTo('#lastDays')
            $('<span>')
                .append($('<p>')
                    .addClass('font-weight-bold')
                    .text('Registros "Não estou me sentindo bem" nos últimos 5 dias no setor "Administrador": ')
                ).append(dataRaw.lastDays[0] == undefined ? 0 : dataRaw.lastDays[0].administrador).appendTo('#lastDays')
            $('<span>')
                .append($('<p>')
                    .addClass('font-weight-bold')
                    .text('Registros "Não estou me sentindo bem" nos últimos 5 dias no setor "Aluno": ')
                ).append(dataRaw.lastDays[0] == undefined ? 0 : dataRaw.lastDays[0].aluno).appendTo('#lastDays')
            $('<span>')
                .append($('<p>')
                    .addClass('font-weight-bold')
                    .text('Registros "Não estou me sentindo bem" nos últimos 5 dias no setor "Funcionário": ')
                ).append(dataRaw.lastDays[0] == undefined ? 0 : dataRaw.lastDays[0].funcionario).appendTo('#lastDays')
            $('<span>')
                .append($('<p>')
                    .addClass('font-weight-bold')
                    .text('Registros "Não estou me sentindo bem" nos últimos 5 dias no setor "Professor": ')
                ).append(dataRaw.lastDays[0] == undefined ? 0 : dataRaw.lastDays[0].professor).appendTo('#lastDays')

            dataRaw.membersMinimum.forEach((member) => {
                var row = $('<tr>');
                row.append($('<td>').text(member.memberRegistrationNumber));
                row.append($('<td>').text(member.name));
                row.append($('<td>').text(member.sector));
                row.append($('<td>').text(new Date(member.birthDate).toLocaleDateString()));
                row.append($('<td>').text(member.city));
                row.append($('<td>').text(member.state));
                row.append($('<td>').append($('<a>').text('Details').attr('href', '/Members/Details/' + member.memberRegistrationNumber)));
                row.appendTo('#members');
            });
        });

        $('#loader').hide();
    }

    function printPDF() {
        var source = $('#overview').html()
        console.log(source)
        var pdf = window.open('', '', 'height=800,width=600')
        pdf.document.write('<html><head>')
        pdf.document.write('<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" /><link rel="stylesheet" href="/css/site.css" />')
        pdf.document.write('</head><body>')
        pdf.document.write(source)
        pdf.document.write('</body></html>')
        pdf.document.close()
        pdf.print()
    }

    $('#printPDF').click(printPDF)

    $('#refresh').click(drawChart)
</script>